header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: red;
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  span {
    height: 3px;
    width: 20px;
    display: inline-flex;
    background-color: #000;
    border-radius: 3px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
}
header h1{
  display: flex;
  font-family: 'Freckle Face', cursive;
  font-size: 2rem;
  animation: intro 1s;
  justify-content: center;
}
#menu {
  position: absolute;
  top: 50%;
  z-index: 1;
  opacity: 0;
  width: 50px;
  transform: translateY(-54%);
  height: 51px;
}
#menu:checked ~ nav{
  span:nth-child(1) {
    transform: rotate(45deg) translateX(4px) translateY(5px);
  }
  span:nth-child(2) {
    display: none;
  }
  span:nth-child(3) {
    transform: rotate(-45deg);
  }
}